#contact iframe
{
    width: 100%;
}

.travel_mainDiv{
    border: 1px solid lightgray;

}

.travel_mainDiv img{
    width:100%;
}

.travel_mainDiv h5, .travel_maindiv p{
    margin: 20px;

}

.button{
    background-color: rgb(0, 17, 255);
    color:rgb(0, 255, 195)
}

.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.movie_head i{
    float: right;
}

.movie_text span{
    color: gold;
}

.book{
    margin-bottom: 20px;
}

#contack iframe{
width: 100%;
}